thead{
    background-color: rgb(162, 233, 244);
}
table{
    width: 600px;
    height: 300px;
    text-align: center;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
.win{
    background-color: rgb(147, 244, 3);
}
.loose{
    background-color: rgb(255, 6, 6);
}
th,tr{
    padding: 10px;
}
#ind{
    color: blue;
}
#sa{
    color: green;
}
#aus{
   color: rgb(149, 149, 0);
}
#nz{
    color: black;
}
#pak{
    color: green;
}
#afg{
    color: blue;
}
#eng{
    color: aqua;
}
#ban{
    color: green;
}
#sl{
    color: rgb(0, 60, 255);
}
#ned{
    color: orange;
}