.science{
    color: green;
    background-color: aqua;
}
.maths{
    color: red;
    background-color: bisque;
}
.project{
    color: yellow;
    background-color: blue;
}
.arts{
    color: hotpink;
    background-color: rgb(136, 255, 0);
}
#day{
    background-color: chocolate;
    color: green;
}
#head{
    color: rgb(3, 137, 254);
    background-color: yellow;
}
#lunch{
    background-color: tomato;
}
#hours{
    color: blue;
    background-color: violet;
}
td,th{
    cursor: pointer;
}
*{
    color: rgb(38, 192, 3) !important; 
}