
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background: url("/img/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    border-image: fill 0 linear-gradient(to top, rgba(0, 0, 0, 0.97) 0, rgba(0, 0, 0, 0.216) 60%, rgba(0, 0, 0, 0.905) 100%);
}

/*-------------------Nav---------------------------------*/
nav{
    width: calc(100% - 253.2px - 96px);
    height: calc(92px - 48px);
    margin: 0 126.6px;
    padding: 24px 48px;
    position: relative;
    z-index: 1;
    display: flex;
}
#logo{
    width: 28.345%;
}
#logo img{
   width: 148px;
   height: 40px;
}
#nav-cont-2{
    width: calc(100% - 28.345%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-cont-2 #lang-nav {
    width: 13.2%;
    height: 32px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.455);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#nav-cont-2 #lang-nav img{
    padding-left: 10px;
    width: 16px;
    filter: invert(100%);
}
#nav-cont-2 #lang-nav select{
    background-color: transparent;
    color: white;
    outline: none;
    margin: 10px;
    border: none;
    font-size: 17px;
}
#nav-cont-2 #lang-nav select option{
    background-color: white;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 0 20px;
}
#nav-cont-2 button{
    width: 76px;
    height: 32px;
    font-size: 17px;
    background-color: #e50914;
    color: white;
    border: none;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    line-height: 1;
    padding: 2px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#nav-cont-2 button:hover{
    background-color: #c10811;
}


/*-------------------main container---------------------------------*/

#main{
    height: calc(100vh - 92px);
    position: relative;
    z-index: 1;
    border-bottom: 8px solid rgb(35 35 35);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-div1{
    width: 53.8%;
    height: 14.93rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#main-div-text>h1{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    
    font-weight: 700;
    line-height: 1.5;
}
#main-div-text>p{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    
}
#main form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#main form h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}
#main form>div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#main form #input-email{
    border: 0.5px solid rgba(255, 255, 255, 0.359);
    background-color: rgba(0, 0, 0, 0.292);
    height: 3.5rem;
    width: 58.8%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#main form input{
    border: none;
    outline: none;
    width: 92%;
    font-size: 1.1rem;
    background-color: transparent;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.789);

}
#main form input::placeholder{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.527);
}

#main form button{
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.73rem;
    height: 3.5rem;
    font-size: 17px;
    background-color: #e50914;
    color: white;
    border: none;
    margin-left: 1rem;
    font-weight: 400;
    cursor: pointer;
    line-height: 1;
    padding: 2px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#main form button h1{
    margin: 0;
    padding: 0;
    display: inline;
}
#main form button img{
    margin: 0;
    padding: 0;
    height: 2rem;
}
#main form button:hover{
    background-color: #c10811;
}

#input-email:focus-within{
    box-shadow: #dddddd 0px 0px 0px 2px, #ffffff 0px 0px 0px 1px;
}


/*-------------------container 1---------------------------------*/


#cont1{
    background-color: black;
    height: calc(582.25px - 144px);
    padding: 72px 0px;
    border-bottom: 8px solid rgb(35 35 35);
    
}
.tv-cont{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11rem;
}
#enjoy{
    background-color: black;
    width: 48%;
    color: white;
}
#enjoy>h2{
    font-size: 3rem;
    font-weight: 900;
}
#enjoy>p{
    font-size: 1.6rem;
}
#tv{
    background-color: black;
    width: 48%;
    position: relative;
}
#tv>img{
    width: 100%;
    z-index: 2;
    position: relative;
}
#tv>video{
    position: absolute;
    left: 95px;
    top: 114px;
    width: 73%;
    z-index: 1;
}

/*-------------------container 2---------------------------------*/

#cont2{
    background-color: black;
    height: calc(582.25px - 144px);
    padding: 72px 0px;
    border-bottom: 8px solid rgb(35 35 35);
}
#cont2-img{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11rem;
}
#cont2-mob{
    background-color: black;
    width: 48%;
    position: relative;
}
#cont2-text{
    background-color: black;
    width: 48%;
    color: white;
    

}
#cont2-text>h1{
    font-size: 3rem;
    font-weight: 900;

}
#cont2-text>p{
    font-size: 1.6rem;
}

#cont2-label-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;

    top: 69%;
    left: 25%;
    background-color: black;
    border-radius: 8px;
    border: 1px solid grey;
    width: calc(49.4% - 24px);
    height: calc(6.48rem - 1rem);
    padding: 8px 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#cont2-label-div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cont2-label-div>div>#p1{
    color: white;
    font-weight: 800;
    width: 10.5rem;
    margin: 0;
}
#cont2-label-div>div>#p2{
    width: 10.5rem;
    margin: 0;
    color: blue;
}
#cont2-label-div>img{
    height: 5rem;
}
#cont2-label-div>#img2{
    width: 2rem;
    height: 2.2rem;
}

/*-------------------container 3---------------------------------*/

#cont3{
    background-color: black;
    height: calc(582.25px - 144px);
    padding: 72px 0px;
    border-bottom: 8px solid rgb(35 35 35);
}
.tv-cont3{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11rem;
}
#enjoy3{
    background-color: black;
    width: 48%;
    color: white;
}
#enjoy3>h2{
    font-size: 3rem;
    font-weight: 900;
}
#enjoy3>p{
    font-size: 1.6rem;
}
#tv3{
    background-color: black;
    width: 48%;
    position: relative;
}
#tv3>img{
    width: 100%;
    z-index: 2;
    position: relative;
}
#tv3>video{
    position: absolute;
    left: 120px;
    top: 57px;
    width: 62%;
    z-index: 1;
}


/*-------------------container 4---------------------------------*/


#cont4{
    background-color: black;
    height: calc(582.25px - 144px);
    padding: 72px 0px;
    border-bottom: 8px solid rgb(35 35 35);
}
#cont4-img{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11rem;
}
#cont4-mob{
    background-color: black;
    width: 48%;
    position: relative;
}
#cont4-text{
    background-color: black;
    width: 48%;
    color: white;
    

}
#cont4-text>h1{
    font-size: 3rem;
    margin: 0;
    font-weight: 900;

}
#cont4-text>p{
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

/*-------------------container 5---------------------------------*/


#cont5{
    background-color: black;
    min-height: calc(582.25px - 144px);
    padding: 72px 0px;
    border-bottom: 8px solid rgb(35 35 35);
}
#cont5-img{
    /* background-color: rgb(45 45 45); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11rem;
    color: rgb(255, 255, 255);
    /* width: 80%; */
}
#cont5-img >h1{
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
}
#cont5-questions{
    width: 100%;
}
#cont5-questions ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#cont5-questions > ul > li{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}
#cont5-questions ul > li > h3{
    width: 100%;
}
#cont5-questions > ul > li button{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(45 45 45);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(5.25rem);
    padding: 1.5rem;
    font-size: 1.5rem;
}

#cont5-questions > ul > li button:hover{
    transition: 0.3s;
    background-color: rgb(69, 67, 67);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.cont5-text{
    /* width: auto; */
    color: rgb(255, 255, 255);
    background-color: rgb(45 45 45);
    display: none;
    
    /* text-align: center; */
    height: calc(5.25rem);
    padding: 1.5rem;
    font-size: 1.5rem;

    
}

#sub-btn form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#sub-btn form h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}
#sub-btn form>div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#sub-btn form #input-email{
    border: 0.5px solid rgba(255, 255, 255, 0.359);
    background-color: rgba(0, 0, 0, 0.292);
    height: 3.5rem;
    width: 58.8%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#sub-btn form input{
    border: none;
    outline: none;
    width: 92%;
    font-size: 1.1rem;
    background-color: transparent;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.789);

}
#sub-btn form input::placeholder{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.527);
}

#sub-btn form button{
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.73rem;
    height: 3.5rem;
    font-size: 17px;
    background-color: #e50914;
    color: white;
    border: none;
    margin-left: 1rem;
    font-weight: 400;
    cursor: pointer;
    line-height: 1;
    padding: 2px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#sub-btn form button h1{
    margin: 0;
    padding: 0;
    display: inline;
}
#sub-btn form button img{
    margin: 0;
    padding: 0;
    height: 2rem;
}
#sub-btn form button:hover{
    background-color: #c10811;
}

#sub-btn #input-email:focus-within{
    box-shadow: #dddddd 0px 0px 0px 2px, #ffffff 0px 0px 0px 1px;
}


/*-------------------  footer  ---------------------------------*/


footer{
    background-color: black;
    height: calc(145.25px + 144px);
    padding: 72px 0px;
    
}
#footer-main{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 11rem;
    color: rgba(255,255,255,0.7);
    
}
#f-div1{
    width: 100%;
    padding-left: 12px;
    font-size: 18px;
}
#f-div1 a{
    /* text-decoration: none; */
    color: rgba(255,255,255,0.7);
}
#f-div2{
    width: 100%;
    
}
#f-div2 ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}
#f-div2 ul li{
    width: 20.1rem;
    list-style-type: none;
    height: 1.13rem;
    margin-top: 1rem;
    margin-left: 12px;
}
#f-div2 ul li a{
    /* text-decoration: none; */
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    
}
#nav-cont-footer{
    width: 100%;
}
#nav-cont-footer #lang-nav-footer{
    width: 10%;
    height: 32px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.455);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#nav-cont-footer #lang-nav-footer img{
    padding-left: 10px;
    width: 16px;
    filter: invert(100%);
}
#nav-cont-footer #lang-nav-footer select{
    background-color: transparent;
    color: white;
    outline: none;
    margin: 10px;
    border: none;
    font-size: 17px;
}
#nav-cont-footer #lang-nav-footer select option{
    background-color: white;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 0 20px;
}
#f-div-last{
    width: 100%;
    padding-left: 16px;
    margin-top: 24px;
}