body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    /* background-color: yellow; */
}
nav{
    /* background-color: aliceblue; */
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0));
}
#cont{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* padding: 10px; */
    /* gap: 10px; */
    /* justify-content: space-between; */
}
a{
    text-decoration: none;
    padding: 20px;
    display: block;
    color: rgb(21, 13, 13);
}

a:hover{
    /* border-bottom: 2px solid rgb(247, 247, 247); */
    /* background-color: black; */
    /* color: rgb(0, 136, 255); */
    background: linear-gradient(to left,green , yellow );
    color: white;

}
li{
    width: 100px;
}
#menu{
    list-style-type: none;
    padding: 0;
    /* background-color: yellow; */
    background: linear-gradient(to bottom, white, blue);
    position: absolute;
    display: none;
}

#drop:hover #menu{
    display: block;
}
#menu1{
    list-style-type: none;
    padding: 0;
    background: linear-gradient(to bottom, white, blue);
    /* background-color: yellow; */
    position: absolute;
    display: none;
}
#drop1:hover #menu1{
    display: block;
}
#menu2{
    list-style-type: none;
    padding: 0;
    /* background-color: yellow; */
    background: linear-gradient(to bottom, white, blue);
    position: absolute;
    display: none;
}
#drop2:hover #menu2{
    display: block;
}