body{
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
    background: url(/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: rgba(240, 248, 255, 0.268);
}
#cont{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* padding: 10px; */
    /* gap: 10px; */
    /* justify-content: space-between; */
}
a{
    text-decoration: none;
    padding: 20px;
    display: block;
    color: rgb(255, 255, 255);
}
#menu{
    list-style-type: none;
    padding: 0;
    background-color: yellow;
    position: absolute;
    display: none;
}
a:hover{
    border-bottom: 2px solid rgb(247, 247, 247);
    background-color: black;
    color: rgb(0, 136, 255);
    /* display: block; */
}
#drop:hover #menu{
    display: block;
}